.articles{
    padding-top: 115px;
    &__title{
        margin-bottom: 50px;
    }
    &__inner{
        @include flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &-card{
        padding: 30px 40px;
        width: 100%;
        max-width: 500px;
        max-height: 455px;
        border-radius: 8px;
        background-image: url('/images/article-1.png');
        background-size:cover;
        background-repeat: no-repeat;
    }
    &-card:nth-child(n+3){
        margin-top: 20px;
    }
    &-card__2{
        background-image: url('/images/article-2.png');
    }
    &-card__3{
        background-image: url('/images/article-3.png');
    }
    &-card__4{
        background-image: url('/images/article-4.png');
    }
    &-card__box{
        margin-top: 250px;
    }
    &-card__btn{
        font-family: 'DM Sans', sans-serif;
        font-size: 12px;
        line-height: 16px;
        display: inline-block;
        padding: 4px;
        background-color: #F8FAFB;
        border-radius: 3px;
        color: #7AC751;
        letter-spacing: 0.096px;
        margin-right: 4px;
        text-transform: uppercase;
    }
    &-card__year,
    &-card__link{
        font-family: 'Mulish',sans-serif;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.096px;
        color: #fff;
        text-decoration: none;
    }
    &-card__title{
        font-family: 'Mulish',sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 47px;
        letter-spacing: 0.2px;
        margin-top: 20px;
        margin-bottom: 37px;
        max-width:450px;
        color: #fff;
    }
}