.customer{
    padding-top: 120px;
    &__title{
        font-family:'Mulish';
        font-weight: 700;
        font-size: 36px;
        line-height: 45px;
        margin-bottom: 50px;
        color: #555;
        text-align: center;
    }
}